<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vote.dao.GameDao">
	<insert id="insertgame" parameterMap="vote.entity.Game" >
		
	</insert>
	<delete id="delgame" parameterMap="String">
	
	</delete>
	<update id="updategame" parameterMap="vote.entity.Game">
	
	</update>
</mapper>